.authContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.leftSide {
    position: relative;
    background-color: var(--white);
    z-index: 1;
    height: 100%;
    width: 40%;
}

@media (max-width: 768px) {

    .leftSide {
        width: 100%;
    }
}