.searchArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--Grey200);
    border-radius: 0.5em;
    background-color: var(--white);
    padding: 1.45em 2em;
    max-width: 22.3em;
    height: fit-content;
}

.input {
    all: unset;
    width: 100%;
}