.userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding: 1.3rem 0.75rem;
    border-radius: 50%;
    background-color: var(--Light-orange);
    color: var(--Grey950);

    text-decoration: none;
    font: normal 400 0.8rem var(--font-inter);
}

.userIcon:active,
.userIcon:hover {
    background-color: var(--Dark-orange);
    color: var(--white);
}