.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5.5em 7%;
}

.head {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 0.8em;
}

.title {
    font: normal 600 1.5em var(--font-manrope);
    color: var(--Grey800);
    grid-column: 1;
}

.welcome {
    font: normal 400 1.1em var(--font-inter);
    grid-column: 1/3;
    grid-row: 2;
}

.button {
    justify-self: end;
    grid-row: 1;
    grid-column: 2;
}

.selection {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    padding-top: 3em;
    padding-bottom: 1.5em;
}

@media (max-width: 1024px) {
    .dashboard {
        padding: 5.5em 3%;
    }
}