.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 7%;
    width: 100%;
    height: var(--heightHeader);
    background-color: var(--white);
}

.menuItems {
    display: flex;
    flex-direction: row;
    gap: 1em;
}