.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label > .title {
    font: var(--SmallFont);
}

.label > .input {
    font-family: var(--font-inter);
    padding: 1.2rem 1rem;
    border: 1px solid var(--Grey200);
    border-radius: 4px;
    color: var(--Grey600);
    height: 3.3rem;
}