.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "topLeft topRight"
        "bottomLeft bottomRight";
    justify-content: space-between;
    padding: 1.5em 2.5em;

    border: 1px solid var(--Grey200);
    border-radius: 10px;
    background-color: var(--white);
    height: max-content;
    width: 100%;
    gap: 0.5em;
}

.card.kanban {
    gap: 1em;
    padding: 1.5em;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    grid-area: topLeft;
}

.title {
    font: normal 600 1.1rem var(--font-manrope);
    grid-area: topLeft;
}

.description {
    font: var(--SmallFont);
    color: var(--Grey600);
    grid-column: 1;
}

.description.kanban {
    grid-column: 1/3;
}

.status {
    display: flex;
    grid-area: topRight;
    justify-self: end;
}

.datas {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 1.5em 0;
    gap: 1em;
    grid-area: bottomLeft;
    align-self: end;
    grid-column: 1;
    grid-row: 3;
}

.datas.kanban {
    grid-column: 1/3;
    gap: 0.5em;
}

.separator {
    border: none;
    border-right: 1px solid var(--Grey400);
}

.button {
    grid-area: bottomRight;
    justify-self: end;
    align-self: end;
    padding:  0.8rem 0;
    grid-row: 3;
}

.button.kanban {
    grid-area: bottomLeft;
    justify-self: auto;
    align-self: auto;
    grid-row: 4;
}

@media (max-width: 768px) {
    .card {
        gap: 1em;
        padding: 1.5em;     
    }

    .description {
        grid-column: 1/3;
    }

    .datas {
        grid-column: 1/3;
        gap: 0.5em;
    }

    .button {
        grid-area: bottomLeft;
        justify-self: auto;
        align-self: auto;
        grid-row: 4;
    }
}