.kanban {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4em;
}

.section {
    display: flex;
    flex-direction: column;
    
    background-color: var(--white);
    border: 1px solid var(--Error-red-light);
    padding: 2.5em 5%;
    border-radius: 10px;
    gap: 2.6em;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.title {
    font: normal 600 1.1rem var(--font-manrope);
}

@media (max-width: 768px) {
    .kanban {
        display: flex;
        flex-direction: column;
    }

    .section {
        padding: 1em 2%;        
        gap: 1.5em;
    }
}